.loginLeft{
    width: 60%;
    height: 100%;
    // background-image: url('../../assets/login-bg.jpg');
    // background-size: 100% 100%;
    // background-position: 100% 100%;
    background-color: #2d8cf0;
    float:left;
    overflow: hidden;
    position: relative;
    // border:1px solid #06f82f;
  }
  .loginRight{
    width: 40%;
    height: 100%;
    float:right;
    overflow: hidden;
    position: relative;
    // border:1px solid #4400ff;
  }

  .login-con{
    position: absolute;
    left:150px;
    top: 50%;
    transform: translateY(-60%);
    width: 400px;
  }
  .form-con{
    padding: 10px 0 0;
    margin-top: 10px;
    width: 400px;
    height: 400px;
  }
  .login-tip{
    font-size: 10px;
    text-align: center;
    color: #c3c3c3;
  }
  .sysTitleLine{
    margin-bottom: 30px;
    overflow: hidden;
    width:165px;
    margin: 0 auto;
    padding: 20px 0px;
    // border: 1px solid #2d8cf0;
  }
  .logoDiv{
    float:left;
    width:40px;
    height: 40px;
    // border: 1px solid #f02d6e;
  }
  .logoDiv img{
    width:40px;
    height: 40px;
  }

  .sysTitle{
    float: left;
    width:120px;
    color:#333;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    height: 40px;
    line-height: 40px;
    // border: 1px solid #02ff89;
    
  }

  .loginHeader{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    position: relative;
    // border-bottom:1px solid #999;

  }
  .loginstyleCss{
    display: inline-block;
    width: 49%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  .active{
    border-bottom:1px solid #2d8cf0;
  }
  .loginewm{
    width: 200px;
    height: 200px;
  }
  .forgetPasswdA{
    color:#333;
    display: block;
    margin-top: 15px;
  }

  @media screen and (max-width: 780px) {
    .loginLeft{
      display: none;
    }
    .loginRight{
      width: 100%;  
      background-image: url("../../assets/bg.png");
      background-size:100% 100%;
      background-repeat:no-repeat;
    }
    .loginHeader{
      margin-top: 20px;
      width: calc(100% - 40px);
      margin: 10px auto;
      height: 50px;
      position: relative;
      // border-bottom:1px solid #999;
    }
    .login-con{
      position: absolute;
      left:0px;
      //top: 50%;
      //transform: translateY(-60%);
      width: 100%;
      
    }
    .form-con{
      padding: 10px 0 0;
      margin-top: 10px;
      width: calc(100% - 40px);
      margin: 10px auto;
      height: auto;
    }
    .sysTitle{
      color:#fff;
    }
    .loginHeader{
      color:#fff;
    }
    .ivu-btn-primary{
      background-color: #6aaff7;
      border: 0;
      //color:#333;
    }
}

.centerImgDiv{
  width: 100%;
  height: 530px;
  text-align: center;
  padding-top: 180px;
  // border-bottom: 1px solid #c3c3c3;
  // border: 1px solid #ff0000;
}
.centerImgDiv img{
  width:600px;
  height: 338px;
}
.jianjieDiv{
  text-align: center;
  font-size: 14px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color:#fff;
}
.downDiv{
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.downloadBtn{
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #679fe9;
  color:#fff;
}
.downloadBtn a{
  color:#fff;
}
.downloadBtn a:link{
  color:#fff;
}
.downloadBtn a:visited{
  color:#fff;
}
.downloadBtn a:hover{
  color:#ff0000;
}
.downloadBtn a:active{
  color:#ff0000;
}

.jishuzhichiDiv{
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color:#fff;
}
.jishuzhichiDiv a{
  color:#fff;
  cursor: pointer;
}